In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import xgboost as xgb
from sklearn.model_selection import train_test_split

snowflow_data_fn = 'boise_river_snow2flow.csv'

In [2]:
snowflow_data_df = pd.read_csv(snowflow_data_fn)
snowflow_data_df

        datetime  prec_mm  tavg_degc  swe_mm   flow_cms
0     2000-10-01     5.08        5.0    0.00   8.693589
1     2000-10-02     0.00        2.6    0.00   9.061721
2     2000-10-03     0.00        0.9    0.00   8.806861
3     2000-10-04     0.00        1.7    0.00   8.778543
4     2000-10-05     0.00       -0.5    0.00   8.750225
...          ...      ...        ...     ...        ...
9126  2025-09-26     0.00        8.9    0.00   7.674145
9127  2025-09-27     0.00        8.7    0.00   7.617510
9128  2025-09-28     0.00       11.5    0.00   7.617510
9129  2025-09-29    25.40       10.0    0.00   7.730781
9130  2025-09-30     7.62        5.0    5.08  12.629774

[9131 rows x 5 columns]

In [3]:
snowflow_data_df = snowflow_data_df.set_index('datetime')
snowflow_data_df

            prec_mm  tavg_degc  swe_mm   flow_cms
datetime
2000-10-01     5.08        5.0    0.00   8.693589
2000-10-02     0.00        2.6    0.00   9.061721
2000-10-03     0.00        0.9    0.00   8.806861
2000-10-04     0.00        1.7    0.00   8.778543
2000-10-05     0.00       -0.5    0.00   8.750225
...             ...        ...     ...        ...
2025-09-26     0.00        8.9    0.00   7.674145
2025-09-27     0.00        8.7    0.00   7.617510
2025-09-28     0.00       11.5    0.00   7.617510
2025-09-29    25.40       10.0    0.00   7.730781
2025-09-30     7.62        5.0    5.08  12.629774

[9131 rows x 4 columns]

In [4]:
# create target data vector
y = snowflow_data_df.flow_cms.values
X = np.column_stack((snowflow_data_df.prec_mm.values,
     snowflow_data_df.tavg_degc.values,
     snowflow_data_df.swe_mm.values))


X.shape

(9131, 3)

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [6]:
X_train.shape

(7304, 3)